<!DOCTYPE html>
<html lang="en" ng-app="OrderApp">
	<head>
		<meta charset="UTF-8">
		<title>Flowers R' Us</title>

		<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/libs/angular/angular.js"></script>
		<script src="/libs/angular-animate/angular-animate.js"></script>

		<script src="/index.js"></script>

	</head>
	<body ng-controller="OrderCtrl as orderCtrl">

		<div class="container">

			<h2>Flowers R' Us</h2>

			<form name="orderForm" novalidate>

				<div class="form-group">
					<label for="to">To:</label>
					<input id="to" class="form-control" type="text" name="to" 
						required ng-model="orderCtrl.to">
				</div>

				<div class="form-group">
					<label for="from">From:</label>
					<input id="from" class="form-control" type="text" name="from" 
						required ng-model="orderCtrl.from">
				</div>

				<div class="form-group">
					<label for="note">Note:</label>
					<textarea id="note" class="form-control" name="note" rows="5"
						ng-model="orderCtrl.notes"></textarea> 
				</div>

				<div class="form-group">
					<label for="quantity">Quantity:</label>
					<input id="quantity" class="form-control" type="number" name="quantity" 
							min="12" required ng-model="orderCtrl.quantity">
				</div>

				<div class="form-group">
					<label for="flower">Flower:</label>
					<div class="radio">
						<label>
							<input type="radio" name="flower" value="rose" required
								ng-model="orderCtrl.flower">
							<code>Rose</code>
						</label>
						<label>
							<input type="radio" name="flower" value="tulip" required
								ng-model="orderCtrl.flower">
							<code>Tulip</code>
						</label>
						<label>
							<input type="radio" name="flower" value="lily" required
								ng-model="orderCtrl.flower">
							<code>Lily</code>
						</label>
					</div>
				</div>

				<div class="form-group">
					<label for="colours">Colours:</label>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="colours" value="red" required
									ng-model="orderCtrl.colours[0]">
							<code>Red</code>
						</label>
						<label>
							<input type="checkbox" name="colours" value="pink" required
									ng-model="orderCtrl.colours[1]">
							<code>Pink</code>
						</label>
						<label>
							<input type="checkbox" name="colours" value="blue" required
									ng-model="orderCtrl.colours[2]">
							<code>Blue</code>
						</label>
						<label>
							<input type="checkbox" name="colours" value="white" required
									ng-model="orderCtrl.colours[3]">
							<code>White</code>
						</label>
					</div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-success form-control"
						   ng-click="orderCtrl.placeOrder()">
						<i class="fa fa-gift"></i>
						Place Order
					</button>
				</div>
			</form>

		</div>
		
	</body>
</html>
